body{
    padding: 0;
    margin: 0;
    background-image: url("images/images/todd-diemer-uFomxGheuGk-unsplash.jpg");
    background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   height: 100%;
}

.div{
    background-image: url("images/images/Rain-Transparent-Background.png");
   height: 100%;
 animation: rain .20s linear infinite;
}

@keyframes rain{
    0%{
        background-position: 0% 0%;
    }
     50%{
        background-position: 40% 20%;
    } 
    100%{
        background-position: 10% 100%;
    }
}

th{

    color: white ;
    /* background-color: red; */
    text-align: center;
    
    }
    
    td{
        color: black ;
        /* background-color: red; */
        text-align: left;
    }
    .first{
        color:white;
        /* background-color: black; */
        text-align: left;
    }
    
    .second{
        color:black;
        background-color: white;
        text-align: center;
    }
    